*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background: #eaebee;
  color: #1d2129;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

header {
  background: #4167b2;
  height: 42px;
  width: 100%;
  position: fixed;
}

.fa-facebook-square {
  float: left;
  margin: 0 10px;
  line-height: 42px;
  color: #ffffff;
}

.header-container_menu {
  float: right;
  margin: 0 10px;
}

.header-container_menu li {
  float: left;
  line-height: 42px;
}

.header-container_menu li a {
  display: block;
  padding: 0 10px;
  color: #ffffff;
  border-right: solid 1px #3b5ca0;
}

.header-container_menu li:last-child a {
  border-right: none;
}

.header-container,
.main-container {
  max-width: 1012px;
  margin: auto;
}

.main-container {
  padding-top: 52px;
}



aside {
  width: 180px;
  margin: 10px;
}

article {
  width: 500px;
}

.left-aside {
  float: left;
}
.left-aside a {
  color: #1d2129;
}

article {
  float: left;
}

.right-aside {
  float: left;
}

section {
  margin-bottom: 10px;
  padding: 12px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  font-size: 1.4rem;
}

section a {
  font-size: 1.4rem;
  color: #385898;
}

img {
  width: 100%;
}

.created_at {
  font-size: 1.2rem;
  color: #616770;
}

.post_form textarea{
  width: 100%;
  height: 100px;
  resize: none;
}

.post_form_image {
  margin: 10px 0;
}

.post_form_submit input {
  width: 100%;
  height: 26px;
  margin: 10px 0;
  color: #fff;
  background: #4267b2;
  border-radius: 3px;
  border: 1px solid #dddfe2;
}

.post_new,
.post_edit,
.users_show,
.posts_confirm {
  margin: 20px 0;
}

.alert {
  text-align: center;
}
