
 }
 .login_container {
  margin-top: 80px;
  padding-top: 30px;
  height: 374px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid grey;
  text-align: right;
}


.login{
width: 40%;
background-color: white;
float: center;

}

.signup_container {
  width: 416px;
  margin: 20px auto;
}

.signup_container h1 {
  font-size: 960px;
}
.signup_container p {
  font-size: .6rem;
}

.signup_container input {
  width: 397px;
  height: 37px;
  margin: 5px 0;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  font-size: 1.8rem;
  position: relative;

}

.signup_container_signup input {
  width: 192px;
  margin-top: 20px;
  background: #42b72a;
  color: #fff;
  .login{
width: 40%;
background-color: white;
float: right;


}
footer {
  width: 100%;
  background-color:#4167b2;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: relative;
  bottom: 0;

}
