.login_container {
  margin-top: 80px;
  padding-top: 30px;
  height: 374px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  text-align: center;
}

.login_container p {
  font-size: 1.8rem;
}

.login_container input {
  width: 284px;
  height: 32px;
  margin: 6px;
  font-size: 1.4rem;
}

.login_container_login input {
  height: 42px;
  background: #4267b2;
  color: #fff;
}

.login_container p {
  font-size: 1.4rem;
}

.login_container_signup {
  margin: 30px;
}

.login_container_signup a {
  display: block;
  margin: 30px auto;
  width: 190px;
  height: 42px;
  line-height: 42px;
  background: #42b72a;
  color: #fff;
}
