.signup_container {
  width: 416px;
  margin: 20px auto;
}

.signup_container h1 {
  font-size: 4rem;
}
.signup_container p {
  font-size: 2.2rem;
}

.signup_container input {
  width: 397px;
  height: 37px;
  margin: 5px 0;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  font-size: 1.8rem;
}

.signup_container_signup input {
  width: 192px;
  margin-top: 20px;
  background: #42b72a;
  color: #fff;
}
